*, ::after, ::before {
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}



body {
  background-color: rgb(15, 15, 15);  
}

.nav-header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgb(24, 24, 24);
  z-index: 1;
}

.nav-name {
  font-family: Pirata One, sans-serif; 
  font-weight: 400;
  font-size: 2.5rem;
}

.name {
  font-size: 6rem; 
  font-family: Pirata One, sans-serif;
}

.btn-hover-black:hover {
  color: black !important;
  background-color: red !important;
  font-weight: 600;
  border: none;
}

.btn-hover-white:hover {
  color: white !important;
  background-color: cyan !important;
  font-weight: 600;
  border: none;
}

.btn-outline-danger {
  border: 2px solid red ;  
}


.footer {
  background-color: rgb(24,24,24);
  font-family: Pirata One, fantasy;
  height: 4rem; 
  width: 100vw; 
}

@media (max-width: 1200px) {
  .name {
    font-size: 40px !important;    
  }
  .img-fluid {
    width: 20rem !important;
    margin-top: 80px !important;
  }
}


@media (max-width: 820px) {
  .name {
    font-size: 40px !important;    
  }
  .img-fluid {
    width: 20rem !important;
    margin-top: 30px !important;
  }
  
  .submit {
    width: 100%;
  }

  .homerow {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 6rem;
   }

   .mywork {
    font-size: 40px !important;
    
  }
  
  #home {
    padding-top: 2em !important;
  }
}



.mywork {
  color: red;
  margin-top: 3rem; 
  margin-bottom: 1.5rem;
  font-family: Pirata one, sans-serif; 
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  
}

.pic {
  display: flex;
  justify-content: center;
  width: 20rem;
  border-radius: 250px;  
  margin: auto;
  margin-top: 3rem;
}


.card {
  width: 16rem; 
  height: 20rem;
  margin-bottom: 3rem;

}

.getintouch {
  font-family: Pirata one, sans-serif; 
  font-size: 4em;   
}

#getintouch {
  margin-top: 5em;
}

input::placeholder, textarea::placeholder {
  color: gray !important;
  
}